<p>Don't worry there are no ads or spam, just a simple free service.  I needed it so I built it.  Feel free to use as you please.</p>

<p class="notice">If you have any feedback, let me know via email <%= mail_to 'dds1024@gmail.com' %> or on Twitter <%= link_to '@DSmith1024', 'http://twitter.com/dsmith1024', :target => 'blank' %></p>