<p>This is a simple site for sending you or anyone a set of screenshots of a webpage.  I needed it for checking up on my sites and often times sending to a client.  Feel free to use as you please.</p>

<p class="notice">If you have any feedback let me know via email <%= mail_to 'dds1024@gmail.com' %> or on Twitter <%= link_to '@DSmith1024', 'http://twitter.com/dsmith1024', :target => 'blank' %></p>