<h1>Listing screenshots</h1>

<table>
  <tr>
    <th>URI</th>
  </tr>

<% @screenshots.each do |screenshot| %>
  <tr>
    <td><%= link_to screenshot.url, screenshot %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Screenshot', new_screenshot_path %>
